<mat-card>
    <mat-card-header>
        <mat-card-title>INSTITUTE DETAILS</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-form-field class="full-width">
        <mat-label>Instituion name</mat-label>
        <input matInput autocomplete="off">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Contact number</mat-label>
        <input matInput autocomplete="off">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Address</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>

</mat-card>