<div class="whole-body">
    <div class="flex-container header">
        <img src="../../../assets/instituteLogo.jpg" class="logo" style="margin:auto">
        <h4 style="margin:auto;">
            Institute name
        </h4>
    </div>
    <div class="flex-container main-body">
          <div>
            <img src="../../../assets/personLogo.jpg" class="passport" style="margin-top:10px">
        </div>
        <div class="student-details">
            Student details
        </div>  
    </div>
    <div class="header">
        <div style="font-size: 10px;">
            Institute Details
        </div>
    </div>
</div>