<div class="make-align">
    <mat-card>
        <mat-card-header>
            <mat-card-title>INSTITUTE DETAILS</mat-card-title>
            <div class="fill"></div>
            <div class="make-align">
                <button mat-button color="accent" (click)="openTemplateDialog()">
                    Choose template
                </button>
                <i class="fas view-template fa fa-eye" (mouseleave)="showdemoTemplate=false"
                    (mouseenter)="showdemoTemplate=true"></i>
            </div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-form-field class="full-width">
            <mat-label>Instituion name</mat-label>
            <input [(ngModel)]="instituteDetails.name" matInput autocomplete="off">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Contact number</mat-label>
            <input [(ngModel)]="instituteDetails.contactNo" matInput autocomplete="off">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Address</mat-label>
            <textarea [(ngModel)]="instituteDetails.address" matInput></textarea>
        </mat-form-field>

        <div class="make-align">
            <div class="fill"></div>
            <label for="upload-photo" class="select-photo">
                <button mat-button color="accent" (click)="input.click()">Choose logo</button>
                <input type="file" #input id="upload-photo" accept="image/*" (change)="loadLogo($event)" />
            </label>
            <i class="fas view-logo fa fa-eye" (mouseleave)="showlogo=false" (mouseenter)="showlogo=true"></i>
        </div>
        <div class="make-align">
            <div class="fill"></div>
            <button mat-button color="primary" (click)="saveTheDetails()">Next</button>
        </div>
    </mat-card>
    <div [ngSwitch]="selectedTemplate" *ngIf="showdemoTemplate">
        <div *ngSwitchCase="'template1'" class="template">
            <app-demo-template1 (selectedTemplate)="selectedTemplate=$event">
            </app-demo-template1>
        </div>
        <div *ngSwitchCase="'template2'" class="template">
            <app-demo-template2 (selectedTemplate)="selectedTemplate=$event">
            </app-demo-template2>
        </div>
        <div *ngSwitchCase="'template3'" class="template">
            <app-demo-template3 (selectedTemplate)="selectedTemplate=$event">
            </app-demo-template3>
        </div>
        <div *ngSwitchDefault>
            <div class="no-file template">
                <i class="fa fa-exclamation-triangle"></i>
                <span style="padding:5px">No template selected</span>
            </div>
        </div>
    </div>
    <div *ngIf="showlogo">
        <div class="no-file logo-position" *ngIf="!instituteDetails.logo">
            <i class="fa fa-exclamation-triangle"></i>
            <span style="padding:5px">No logo selected</span>
        </div>
        <img *ngIf="instituteDetails.logo" [src]="instituteDetails.logo" class="logo logo-position">
    </div>
</div>